<!-- BANNER -->
  <main role="main">

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="banner-1-home">
    <section class="nospace" id="banner" style="background-image: url('{{ file_url('/images/Banner-1.png') }}'); background-size: cover; padding-top: 10em;">
      <div class="block full left">
          <div style="background-color: rgba(256,256,256, .8);" class="block two-thirds left column p-3">
              <p class="bp">{{ 'BENVINGUT A LA NOSTRA' | t }}</p>
              <h1 style="margin-bottom:16px;">{{ 'WEB DE PROVEÏDORS' | t }}</h1>
              <p>{{ "El nostre objectiu és facilitar la gestió i contractacions a cadascun dels nostres 800 proveïdors de raïm i millorar les nostres relacions comercials a través d'aquesta experiència digital." | t }}</p>
          </div>
      </div>
   </section>
<!-- BANNER -->
