<!-- Breadcrubs -->
<section>
    <div class="block breadcrubs">
        <p class="breadcrubs-links"><a href="{{ '/ca/inici' | t }}">{{ "Inici" | t }}</a> > {{ page_title }}</p>
    </div>
</section> 
<!-- Breadcrubs -->