<!-- Help -->
  <section id="help-h">

    <div class="block column full">
        <h1>ET CAL AJUT?</h1>
        <p class="sign">Posa't en contacte amb nosaltres si ets proveïdor</p>
    </div>
</section>
<section id="help">
    <div class="block nocomputer">
        <img src="/modules/segura-viudas/Segura-Viudas-Theme/images/Help.png" width="100%">
    </div>
    <div class="block help-container full right">
        <div class="block block-help column rgap-1">
            <p>Si ets proveïdor de Segura Vídues i necessites ajuda truca al</p>
            <p class="sbp"><a href="tel:+34938917070">938 917 070</a></p>
            <p>O escriu un correu electrònic a</p>
            <a class="colorlink ba" href="mailto:viticultura@freixenet.com">viticultura@freixenet.com</a>
        </div>
    </div>
</section>
<!-- Help -->