<!-- Appointment -->
<section id="profile" class="nospace" style="margin-top:1em;">
    <div class="block column full">
        <h1 class="noup">Les meves dades</h1><br>
        <p>Si observes algun error a les teves dades, truca'ns al <b>938 000 000</b> i el corregirem.</p>
    </div>
</section>
<section style="margin-top:3em;" id="profile-fields" class="nospace">
    <div class="block full space-between p-3" style="background-color:#f8f9f6;">
        <div class="block column quarter">
          <div>
            <label>CREÏDOR</label><br><br>
            <input type="text" value="8000092965" disabled><br><br><br>
          </div>

          <div>
            <label>CIF EMPRESA</label><br><br>
            <input type="text" value="F00000000" disabled><br><br><br>
          </div>

          <div>
            <label>TELÈFON</label><br><br>
            <input type="text" value="973 330 215" disabled>
          </div>
        </div>

        <div class="block right-fields-profile column space-between full">
          <div>
            <label>NOM DEL PROVEÏDOR</label><br><br>
            <input type="text" value="AGRARIA DE SANT MARTÍ DE MALDA S.C.P." disabled>
          </div>  

          <div>
            <label>CORREU ELECTRÒNIC</label><br><br>
            <input class="noupper" type="text" value="agraria.sm@hotmail.com" disabled>
          </div>
        </div>
    </div>
</section>