<!-- Footer -->
  <footer class="u-align-center u-clearfix u-footer u-white u-footer" id="sec-b888"><div class="u-clearfix u-sheet u-sheet-1">
    <section id="footer">
      <div class="block full column rgap-2">
          <div class="block full rmiddle ow space-between">
              <div><img height="150px" src="{{ file_url('modules/segura_viudas_blocks/images/logo_SV.png') }}"></div>
              <div style="text-align:right;"><h1>Respeto por las raíces</h1><p class="sign">Desde el siglo XII</p></div>
          </div>

          <div class="block full row middle space-between">
              <div class="block third">
                  <a class="colorlink fa" href="">Web Segura Viudas</a>
              </div>

              <div class="block third">
                  <ul class="nolist">
                      <li><a class="colorlink fa" href="">Instagram</a></li>
                      <li><a class="colorlink fa" href="">Facebook</a></li>
                      <li><a class="colorlink fa" href="">Twitter</a></li>
                      <li><a class="colorlink fa" href="">Youtube</a></li>
                  </ul>
              </div>

              <div class="block third">
                  <img style="margin-left:auto;" height="50px" src="{{ file_url('modules/segura_viudas_blocks/images/Logo-footer.svg') }}">
              </div>
          </div>
          <hr>
          <div class="block full middle row space-between">
              <p>2023 Segura Viudas. Todos los derechos reservados.</p>

              <ul class="nolist">
                  <li><a href="">Política de cookies</a></li>
                  <li><a href="">Política de privacidad</a></li>
                  <li><a href="">Aviso legal</a></li>
                  <li><a href="">Compliance</a></li>
              </ul>
          </div>
      </div>

  </section>

</footer>


</div>{# /.layout-container #}
<!-- Footer -->
