<!-- Login -->
<section id="log-in" class="nobgmobile">
    <div class="block full row mcolumn">
        <div class="block row">
            <div style="width: 15%; transform: translateY(250px);" class="block full column nomobile">
    <img src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/login-decoration.svg') }}" width="20px">
    </div>
    <div class="block full column center segura-viudas-login">
        <h2 style="margin-bottom: 1em;">{{ "HAS OBLIDAT LA TEVA CONTRASENYA?" | t }}</h2>

        {{ form }}

    </div>
        </div>
        <div style="margin-top:2em;" class="block column bottom center right">
            <img class="w-80" src="{{ file_url('modules/nateevo/segura_viudas_blocks/images/login-img.png') }}">
        </div>
    </div>
</section>
<!-- Login -->