<section id="password-recovery">
  <div class="block full row mcolumn space-between">
    <div class="block row">
      <div class="block full column formlogin">
        <h2 class="noup" style="margin-bottom: 1em;">{{ "Recuperar contrase침a" | t }}</h2>
        <p>{{ "Por favor, introduce tu correo electr칩nico para recibir las instrucciones de recuperaci칩n de contrase침a." | t }}</p><br>

        {{ recovery_password_form }}

      </div>
    </div>
  </div>
</section>
