<!-- Appointment -->
<section id="appointment" class="nospace" style="margin-top:1em;">
    <div class="block column full">
        <h1 class="noup">Documentació i cita de contracte</h1>
    </div>
</section>
<section id="attach" class="nospace">
    <div class="block full space-between">
      <div class="block two-thirds p-3 column">
        <h2 style="margin-bottom:1em;" class="noup">Adjuntar documentació</h2>
          <p>Un cop adjuntada tota la documentació requerida podràs demanar una cita el dia que vulguis per a la signatura del contracte.</p><br>
          <p>Pots pujar la documentació en <b>els formats següents: JPG, PDF, xlsx (Excel).</b></p><br>
        <div class="block row space-between">
          <div class="block row cgap-1">
            <p><svg style="border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c82020" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="#c82020"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>Per verificar</p>
            <p><svg style="border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2ca500" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="#2ca500"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>Verificat</p>
          </div>
            <p>*Camps obligatoris</p>
        </div>
        <div class="block row full cgap-1 uploads">
          <div class="block column half right space-between">
            <label>CARTA ACREDITATIVA RAÏM DO CAVA O DO CAT, O AMBDÓS*</label><br>
            <input type="file" id="real-file" hidden="hidden" />
            <button type="button" id="custom-button"><p id="file-name">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>
            Adjunta o arrossega el fitxer</p></button>
          </div>
          <div class="block column half right space-between">
            <label>QUADERN DE CAMP*</label><br>
            <input type="file" id="real-file" hidden="hidden" />
            <button type="button" id="custom-button"><p id="file-name">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>
            Adjunta o arrossega el fitxer</p></button>
          </div>
        </div>

        <div class="block row full cgap-1 uploads">
          <div class="block column half right space-between">
            <label>CERTIFICAT CCPAE</label><br>
            <input type="file" id="real-file" hidden="hidden" />
            <button type="button" id="custom-button"><p id="file-name">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>
            Adjunta o arrossega el fitxer</p></button>
          </div>
          <div class="block column half right space-between">
            <label>RVC</label><br>
            <input type="file" id="real-file" hidden="hidden" />
            <button type="button" id="custom-button"><p id="file-name">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>
            Adjunta o arrossega el fitxer</p></button>
          </div>
        </div>

        <div class="block row full cgap-1 uploads">
          <div class="block column half right space-between">
            <label>ALTRES DOCUMENTS</label><br>
            <input type="file" id="real-file" hidden="hidden" />
            <button type="button" id="custom-button"><p id="file-name">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>
            Adjunta o arrossega el fitxer</p></button>
          </div>
          <div class="block column half right space-between">
          </div>
        </div>
      </div>
      <div class="block third column p-3 space-between" style="background-color:#f8f9f6; max-height:150px;">
        <h2 class="noup">Cita para la firma</h2>
          <a class="btn primary" href="#">Solicitar cita</a>
      </div>
    </div>
</section>

<script>
  const realFile = document.getElementById("real-file");
  const customButton = document.getElementById("custom-button");
  const fileName = document.getElementById("file-name");

  customButton.addEventListener("click", () => {
    realFile.click();
  });

  realFile.addEventListener("change", () => {
    if (realFile.value) {
      fileName.textContent = realFile.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
    } else {
      fileName.textContent = "Ningún archivo seleccionado";
    }
  });
</script>
<!-- Appointment -->